.idea/
*.iml
*.class
*.jar       
target/
/logs/     
/bin/
/src/main/resources/application-xts.properties
/src/main/resources/application-local.properties
/src/main/resources/SignVerProp.properties
.settings
Thumbs.db
.DS_Store
.factorypath
*.mode1v3
*.pbxuser
*.swp
*.svn
*.project
*.classpath
*.mymetadata
*.log